@import "./util/fonts.scss";

.hero {
    font-family: 'DancingScript-Bold';
    display: flex;
    height: 500px;
    width: 500px;
    color: rgb(37, 141, 17);
    font-weight: bold;
    font-size: 34px;
    justify-content: center;
}